<a href="https://colab.research.google.com/github/adamlutzz/DS-Unit-1-Sprint-3-Statistical-Tests-and-Experiments/blob/master/module1-statistics-probability-and-inference/LS_DS_131_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 3 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

## Load DataSet

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.names

1. Title: 1984 United States Congressional Voting Records Database

2. Source Information:
    (a) Source:  Congressional Quarterly Almanac, 98th Congress,
                 2nd session 1984, Volume XL: Congressional Quarterly Inc.
                 Washington, D.C., 1985.
    (b) Donor: Jeff Schlimmer (Jeffrey.Schlimmer@a.gp.cs.cmu.edu)
    (c) Date: 27 April 1987

3. Past Usage
   - Publications
     1. Schlimmer, J. C. (1987).  Concept acquisition through
        representational adjustment.  Doctoral dissertation, Department of
        Information and Computer Science, University of California, Irvine, CA.
        -- Results: about 90%-95% accuracy appears to be STAGGER's asymptote
     - Predicted attribute: party affiliation (2 classes)

4. Relevant Information:
      This data set includes votes for each of the U.S. House of
      Representatives Congressmen on the 16 key votes identified by the
      CQA.  The CQA lists nine different types of votes: voted for, paired
      for, and announced for (these three simplified to yea), voted
      against, paired against, and announced against (these three
      simplified to nay), voted present, voted present to avoid conflict
      of interest, and did not vote or otherwise make a position known
      (these three simplified to an unknown disposition).

5. Number of Instances: 435 (267 democrats, 168 republicans)

6. Number of Attributes: 16 + class name = 17 (all Boolean valued)

7. Attribute Information:
   1. Class Name: 2 (democrat, republican)
   2. handicapped-infants: 2 (y,n)
   3. water-project-cost-sharing: 2 (y,n)
   4. adoption-of-the-budget-resolution: 2 (y,n)
   5. physician-fee-freeze: 2 (y,n)
   6. el-salvador-aid: 2 (y,n)
   7. religious-groups-in-schools: 2 (y,n)
   8. anti-satellite-test-ban: 2 (y,n)
   9. aid-to-nicaraguan-contras: 2 (y,n)
  10. mx-missile: 2 (y,n)
  11. immigration: 2 (y,n)
  12. synfuels-corporation-cutback: 2 (y,n)
  13. education-spending: 2 (y,n)
  14. superfund-right-to-sue: 2 (y,n)
  15. crime: 2 (y,n)
  16. duty-free-exports: 2 (y,n)
  17. export-administration-act-south-africa: 2 (y,n)

8. Missing Attribute Values: Denoted by "?"

   NOTE: It is important to recognize that "?" in this database does
         not mean that the value of the attribute is unknown.  It
         means simply, that the value is not "yea" or "nay" (see
         "Relevant Information" section above).

   Attribute:  #Missing Values:
           1:  0
           2:  0
           3:  12
           4:  48
           5:  11
           6:  11
           7:  15
           8:  11
           9:  14
          10:  15
          11:  22
          12:  7
          13:  21
          14:  31
          15:  25
          16:  17
          17:  28

9. Class Distribution: (2 classes)
   1. 45.2 percent are democrat
   2. 54.8 percent are republican

Class predictiveness and predictability: Pr(C|A=V) and Pr(A=V|C)
 Attribute 1: (A = handicapped-infants)
  0.91;  1.21  (C=democrat; V=y)
  0.09;  0.10  (C=republican; V=y)
  0.43;  0.38  (C=democrat; V=n)
  0.57;  0.41  (C=republican; V=n)
  0.75;  0.03  (C=democrat; V=?)
  0.25;  0.01  (C=republican; V=?)
 Attribute 2: (A = water-project-cost-sharing)
  0.62;  0.45  (C=democrat; V=y)
  0.38;  0.23  (C=republican; V=y)
  0.62;  0.45  (C=democrat; V=n)
  0.38;  0.23  (C=republican; V=n)
  0.58;  0.10  (C=democrat; V=?)
  0.42;  0.06  (C=republican; V=?)
 Attribute 3: (A = adoption-of-the-budget-resolution)
  0.91;  0.87  (C=democrat; V=y)
  0.09;  0.07  (C=republican; V=y)
  0.17;  0.11  (C=democrat; V=n)
  0.83;  0.44  (C=republican; V=n)
  0.64;  0.03  (C=democrat; V=?)
  0.36;  0.01  (C=republican; V=?)
 Attribute 4: (A = physician-fee-freeze)
  0.08;  0.05  (C=democrat; V=y)
  0.92;  0.50  (C=republican; V=y)
  0.99;  0.92  (C=democrat; V=n)
  0.01;  0.01  (C=republican; V=n)
  0.73;  0.03  (C=democrat; V=?)
  0.27;  0.01  (C=republican; V=?)
 Attribute 5: (A = el-salvador-aid)
  0.26;  0.21  (C=democrat; V=y)
  0.74;  0.48  (C=republican; V=y)
  0.96;  0.75  (C=democrat; V=n)
  0.04;  0.02  (C=republican; V=n)
  0.80;  0.04  (C=democrat; V=?)
  0.20;  0.01  (C=republican; V=?)
 Attribute 6: (A = religious-groups-in-schools)
  0.45;  0.46  (C=democrat; V=y)
  0.55;  0.46  (C=republican; V=y)
  0.89;  0.51  (C=democrat; V=n)
  0.11;  0.05  (C=republican; V=n)
  0.82;  0.03  (C=democrat; V=?)
  0.18;  0.01  (C=republican; V=?)
 Attribute 7: (A = anti-satellite-test-ban)
  0.84;  0.75  (C=democrat; V=y)
  0.16;  0.12  (C=republican; V=y)
  0.32;  0.22  (C=democrat; V=n)
  0.68;  0.38  (C=republican; V=n)
  0.57;  0.03  (C=democrat; V=?)
  0.43;  0.02  (C=republican; V=?)
 Attribute 8: (A = aid-to-nicaraguan-contras)
  0.90;  0.82  (C=democrat; V=y)
  0.10;  0.07  (C=republican; V=y)
  0.25;  0.17  (C=democrat; V=n)
  0.75;  0.41  (C=republican; V=n)
  0.27;  0.01  (C=democrat; V=?)
  0.73;  0.03  (C=republican; V=?)
 Attribute 9: (A = mx-missile)
  0.91;  0.70  (C=democrat; V=y)
  0.09;  0.06  (C=republican; V=y)
  0.29;  0.22  (C=democrat; V=n)
  0.71;  0.45  (C=republican; V=n)
  0.86;  0.07  (C=democrat; V=?)
  0.14;  0.01  (C=republican; V=?)
 Attribute 10: (A = immigration)
  0.57;  0.46  (C=democrat; V=y)
  0.43;  0.28  (C=republican; V=y)
  0.66;  0.52  (C=democrat; V=n)
  0.34;  0.23  (C=republican; V=n)
  0.57;  0.01  (C=democrat; V=?)
  0.43;  0.01  (C=republican; V=?)
 Attribute 11: (A = synfuels-corporation-cutback)
  0.86;  0.48  (C=democrat; V=y)
  0.14;  0.06  (C=republican; V=y)
  0.48;  0.47  (C=democrat; V=n)
  0.52;  0.43  (C=republican; V=n)
  0.57;  0.04  (C=democrat; V=?)
  0.43;  0.03  (C=republican; V=?)
 Attribute 12: (A = education-spending)
  0.21;  0.13  (C=democrat; V=y)
  0.79;  0.42  (C=republican; V=y)
  0.91;  0.80  (C=democrat; V=n)
  0.09;  0.06  (C=republican; V=n)
  0.58;  0.07  (C=democrat; V=?)
  0.42;  0.04  (C=republican; V=?)
 Attribute 13: (A = superfund-right-to-sue)
  0.35;  0.27  (C=democrat; V=y)
  0.65;  0.42  (C=republican; V=y)
  0.89;  0.67  (C=democrat; V=n)
  0.11;  0.07  (C=republican; V=n)
  0.60;  0.06  (C=democrat; V=?)
  0.40;  0.03  (C=republican; V=?)
 Attribute 14: (A = crime)
  0.36;  0.34  (C=democrat; V=y)
  0.64;  0.49  (C=republican; V=y)
  0.98;  0.63  (C=democrat; V=n)
  0.02;  0.01  (C=republican; V=n)
  0.59;  0.04  (C=democrat; V=?)
  0.41;  0.02  (C=republican; V=?)
 Attribute 15: (A = duty-free-exports)
  0.92;  0.60  (C=democrat; V=y)
  0.08;  0.04  (C=republican; V=y)
  0.39;  0.34  (C=democrat; V=n)
  0.61;  0.44  (C=republican; V=n)
  0.57;  0.06  (C=democrat; V=?)
  0.43;  0.04  (C=republican; V=?)
 Attribute 16: (A = export-administration-act-south-africa)
  0.64;  0.65  (C=democrat; V=y)
  0.36;  0.30  (C=republican; V=y)
  0.19;  0.04  (C=democrat; V=n)
  0.81;  0.15  (C=republican; V=n)
  0.79;  0.31  (C=democrat; V=?)
  0.21;  0.07  (C=republican; V=?)

## Organize Data

In [55]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', header=None, na_values='?')
print(data.shape)
data.head()

(435, 17)

           0    1  2  3    4    5  6  7  8  9  10   11   12 13 14 15   16
0  republican    n  y  n    y    y  y  n  n  n  y  NaN    y  y  y  n    y
1  republican    n  y  n    y    y  y  n  n  n  n    n    y  y  y  n  NaN
2    democrat  NaN  y  y  NaN    y  y  n  n  n  n    y    n  y  y  n    n
3    democrat    n  y  y    n  NaN  y  n  n  n  n    y    n  y  n  n    y
4    democrat    y  y  y    n    y  y  n  n  n  n    y  NaN  y  y  y    y

In [65]:
data.isna().sum()

class_name                                  0
handicapped_infants                        12
water_project_cost_sharing                 48
adoption_of_the_budget_resolution          11
physician_fee_freeze                       11
el_salvador_aid                            15
religious_groups_in_schools                11
anti_satellite_test_ban                    14
aid_to_nicaraguan_contras                  15
mx_missile                                 22
immigration                                 7
synfuels_corporation_cutback               21
education_spending                         31
superfund_right_to_sue                     25
crime                                      17
duty_free_exports                          28
export_administration_act_south_africa    104
dtype: int64

In [0]:
data = data.fillna(.5)

In [0]:
columns = {0:'class_name',
           1:'handicapped_infants',
           2:'water_project_cost_sharing',
           3:'adoption_of_the_budget_resolution',
           4:'physician_fee_freeze',
           5:'el_salvador_aid',
           6:'religious_groups_in_schools',
           7:'anti_satellite_test_ban',
           8:'aid_to_nicaraguan_contras',
           9:'mx_missile',
           10:'immigration',
           11:'synfuels_corporation_cutback',
           12:'education_spending',
           13:'superfund_right_to_sue',
           14:'crime',
           15:'duty_free_exports',
           16:'export_administration_act_south_africa'}

In [67]:
data = data.rename(columns=columns)
print(data.shape)
data.head()

(435, 17)

   class_name  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                    0.5
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
new_vals = {'n': 0, 'y': 1}

In [69]:
# Replace 'n' and 'y' with 1 and 0
df = data.replace(new_vals)
df.head()

   class_name  ...  export_administration_act_south_africa
0  republican  ...                                     1.0
1  republican  ...                                     0.5
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
democrats = df.loc[df['class_name'] == 'democrat']
republicans = df.loc[df['class_name'] == 'republican']

In [71]:
democrats.head()

  class_name  ...  export_administration_act_south_africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [72]:
mean_votes = pd.DataFrame({'democrats_mean': democrats.mean(),
                           'democrats_std': democrats.std(),
                           'republicans_mean': republicans.mean(),
                           'republicans_std': republicans.std()})

mean_votes

                                        democrats_mean  ...  republicans_std
handicapped_infants                           0.601124  ...         0.390476
water_project_cost_sharing                    0.501873  ...         0.470660
adoption_of_the_budget_resolution             0.878277  ...         0.342336
physician_fee_freeze                          0.067416  ...         0.126611
el_salvador_aid                               0.228464  ...         0.221762
religious_groups_in_schools                   0.477528  ...         0.305356
anti_satellite_test_ban                       0.764045  ...         0.423840
aid_to_nicaraguan_contras                     0.823970  ...         0.359390
mx_missile                                    0.739700  ...         0.321379
immigration                                   0.471910  ...         0.493750
synfuels_corporation_cutback                  0.505618  ...         0.340653
education_spending                            0.168539  ...         0.337922
superfund_right_to_sue                        0.301498  ...         0.347452
crime                                         0.355805  ...         0.164126
duty_free_exports                             0.629213  ...         0.295870
export_administration_act_south_africa        0.801498  ...         0.446887

[16 rows x 4 columns]

## Tests

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel